body{
  margin: 0;
  height: 100vh;
}

header{
 background-image: url("../img/fondo-logo2.jpg");    
}


.navbar:not(:focus-within) {
  background-color: transparent; 
}

.navbar:focus-within {
  background-color: black; 
}

.navbar-nav .nav-link{
  color: white;
  padding-left: 1%;
}

.navbar-collapse{
  background-color: transparent !important;
}

#logo{
  width: 40px;  
}

#carousel-quienes-somos{
  text-align: center;
  display: none;
}

.carousel-item.card-presentacion-escondida{
  background-color: black;
  color: white;
  width: 45rem;
  position: fixed;
  padding-left: 2%;
  padding-right: 2%; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  z-index: 9999;  
  
}
.card-presentacion-escondida{
  padding-top: 3%
}

#descripcion-local{
  margin-bottom: 32%;
}

.card-img-bottom#img-descrip{
  width: 50%;
  height: 50%;
  margin: 2% auto;
}
.card-img-bottom#img-descrip-sola{
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

h1{
  color: grey;  
  font-weight: bolder;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 7%;
}

.container h2{
  text-decoration: overline;
  text-decoration-color: black;
  text-align: center;
  margin-bottom: 5%;
}

.card-escondida{
  background-color: black;
  color: white;
  display: none;
  width: 30rem;
  position: fixed;
  padding-left: 2%;
  padding-right: 2%; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.card-escondida h2{
  font-weight: bolder;
}

.card-img-bottom{
  width: 65%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 8%;
  display: flex;  
}

.card{
  width: 24rem;
}

.card-title,
.card-text{
  text-align: center;
}

.card-body{
  margin: 0;
  padding: 0;    
}

.formularios{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.form{
  background-color: #070707;
  color: white;
  text-align: center;
  margin-top: 50px;
  width: 300px;
  border-radius: 2%;
}

.productos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;    
}

p,
h4{
  margin: 0;
  text-align: center;
}

.carousel-item,
.carousel-item img{
  height: 30rem;
}


footer{
  color: white;  
  background-image: url("../img/fondo.jpg"); 
  height: 25%;  
  padding-top: 8%;  
  padding-bottom: 6%; 
  text-align: center;   
}


/*
  Pantalla Extra Large (>=1200px)
*/

@media(min-width: 1200px) {
  .col-xl-12{width: 100%;}     
  .col-xl-11{width: 91.66666667%;}     
  .col-xl-10{width: 83.33333334%;}     
  .col-xl-9{width: 75%;}     
  .col-xl-8{width: 66.66666667%;}     
  .col-xl-7{width: 58.33333334%;}     
  .col-xl-6{width: 50%;}     
  .col-xl-5{width: 41.66666667%;}     
  .col-xl-4{width: 33.33333334%;}     
  .col-xl-3{width: 25%;}     
  .col-xl-2{width: 16.66666667%;}     
  .col-xl-1{width: 8.33333333%;} 
  
  .header{
    background-repeat: repeat-x;   
  }  
  
}

/*
  Pantalla Large (>=992px)
*/

@media(min-width: 992px) and (max-width: 1199.3px){
  .col-lg-12{width: 100%;}     
  .col-lg-11{width: 91.66666667%;}     
  .col-lg-10{width: 83.33333334%;}     
  .col-lg-9{width: 75%;}     
  .col-lg-8{width: 66.66666667%;}     
  .col-lg-7{width: 58.33333334%;}     
  .col-lg-6{width: 50%;}     
  .col-lg-5{width: 41.66666667%;}     
  .col-lg-4{width: 33.33333334%;}     
  .col-lg-3{width: 25%;}     
  .col-lg-2{width: 16.66666667%;}     
  .col-lg-1{width: 8.33333333%;}

  #logo{
    width: 50px;
  }
  .header{
    background-size: contain;        
  }
  h1{
    margin-top: 5%;
    margin-bottom: 10%;
  }
  
  .container{
    margin: 0 auto;
    width: 50%;
  }
    
  .card{
    width: 15rem;
    font-size: 12px;        
  }
  .card-body{
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 4%;
  }
  
  footer{
    height: 15%;
    padding-top: 6%;
  }
}

/*
  Pantalla Medium (>=768px)
*/

@media(min-width: 768px) and (max-width: 991px){
  .col-md-12{width: 100%;}     
  .col-md-11{width: 91.66666667%;}     
  .col-md-10{width: 83.33333334%;}     
  .col-md-9{width: 75%;}     
  .col-md-8{width: 66.66666667%;}     
  .col-md-7{width: 58.33333334%;}     
  .col-md-6{width: 50%;}     
  .col-md-5{width: 41.66666667%;}     
  .col-md-4{width: 33.33333334%;}     
  .col-md-3{width: 25%;}     
  .col-md-2{width: 16.66666667%;}     
  .col-md-1{width: 8.33333333%;}

  
  #logo{
    width: 50px;
  }
  .header{
    background-size: contain;       
  }    
  .container{
    margin: 0 auto;
    width: 70%;
  }
  h1{
    margin-top: 4%;
    margin-bottom: 10%;
  }
  h2{
    margin-top: 1%;
    margin-bottom: 7%;
  }
   
  footer{
    height: 12%;
    padding-top: 5%;    
  }
  
  .card{
    margin-top: 3%;
  }
  .card-body{
    padding-top: 2%;
    padding-bottom: 4%;
  }
    
}

/*
  Pantalla LSmall (>=576px)
*/

@media(max-width: 767px){
  .col-sm-12{width: 100%;}     
  .col-sm-11{width: 91.66666667%;}     
  .col-sm-10{width: 83.33333334%;}     
  .col-sm-9{width: 75%;}     
  .col-sm-8{width: 66.66666667%;}     
  .col-sm-7{width: 58.33333334%;}     
  .col-sm-6{width: 50%;}     
  .col-sm-5{width: 41.66666667%;}     
  .col-sm-4{width: 33.33333334%;}     
  .col-sm-3{width: 25%;}     
  .col-sm-2{width: 16.66666667%;}     
  .col-sm-1{width: 8.33333333%;}

  #logo{
    width: 50px;
  }
  .header{    
    background-size: contain;
  }
  
  .container{
    margin: 0 auto;
    width: 90%;
  }
  
  .carousel-item.card-presentacion-escondida{
    width: 25rem;
  } 

  .card-img-bottom#img-descrip{
    width: 50%;
    height: 45%;
    margin: 2% auto;
  }
  .card-img-bottom#img-descrip-sola{
    width: 85%;
    height: 85%;
    margin: 0 auto;
  }

  h1{
    margin-top: 3%;
    margin-bottom: 14%;    
  }
  h2{
    margin-bottom: 10%;
  }
  
  #form-comuniquemonos,
  #form-reserva{
    display: none;
  } 
  /*
  .formularios{
    display: none;
  }*/
  
  .card{
    margin-top: 3%;
  } 
  footer{
    height: 11%;
    padding-top: 5%;
  }
}